html {
    height: 100%;
}

body {
    background: rgb(209, 209, 216);
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    display: flex;
}

span {
    padding-left: 5px;
    padding-right: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    line-height: 50px;
}

.container {
    padding-top: 15px;
    padding-bottom: 8px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.btn {
    padding-left: 10px;
}

.alert {
    padding-top: 5px;
}

#header-username{
    color: ghostwhite;
}

nav {
    height: 60px;
}

.navbar-brand {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 15px;
    transition: all 300ms;
}

.navbar-brand:hover, .info-slide:active {
    transform: scale(1.5);
}

.card-deck {
    padding-left: 20px;
}

.card {
    max-width: 17rem;
}

#cart {
    width: 44px;
    height: 44px;
}

ul {
    display: flex;
    flex-flow: row;
    justify-content:flex-start;
    gap: 30px;
}

nav{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;

}

#logo {
    position:relative;
    margin-left: 36%;
    margin-top:2%;
    width: 30%;
}

#form-signin {
    font-family: "Lato", sans-serif;
    position: relative;
    margin-top: 20%;
    margin-left: 50%;
    width: 35%;
    margin: auto;
    font-size: 26px;

}

#form-signin input[type="text"] {
    width: 80%;
    margin: 10px auto;
    display: block;
    font-size: 26px;
    padding: 5px;
    text-align: center;
}

#form-signin input[type="password"] {
    width: 80%;
    margin: 10px auto;
    display: block;
    font-size: 26px;
    padding: 5px;
    text-align: center;
}

#form-signin input[type="submit"] {
    width: 45%;
    margin: 20px auto;
    display: block;
    font-size: 26px;
    border: 2px solid black;
    color: black;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;

}

#form-signin input[type="submit"]:hover {
    color: white;
    background-color: #ffb655;
}

#register-link {
    color: black;
    display: block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

#register-link:hover{
    color:#ffb655;
}