<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../style.css" />
    <title>Header</title>
</head>

<body>
<div th:fragment="header">
    <nav>
        <div>
                <ul>
                    <li>
                        <a href="/main">TyreShop</a>
                    </li>
                    <li>
                        <form action="search" th:action="@{/search/{tyreId}}">
                        <input type="number" title="search-product">
                        <input type="submit"   th:value="Search"/>
                    </form>
                    </li>
                    <li  sec:authorize="isAuthenticated()">
                        <a>Logged as</a>
                        <a  sec:authorize="hasRole('ROLE_ADMIN')" style="color: #1e90ff"
                           th:href="@{/admin}" th:text="${#httpServletRequest.getRemoteUser().toUpperCase()}"></a>
                        <a  sec:authorize="hasRole('ROLE_USER')" style="color: #ff0000;"
                           th:href="@{/user}" th:text="${#httpServletRequest.getRemoteUser().toUpperCase()}"></a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/logout" >Log out</a>
                    </li>
                    <li  sec:authorize="!isAuthenticated()">
                        <a  href="/login">Log in</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a  href="/register">Register</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/cart" >Cart</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a href="/tyre/new" >Add Tyre</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </div>
    </nav>
</div>
</body>
</html>