<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <title>TyreShop</title>
    <link rel="stylesheet" type="text/css" href="/style.css" /></head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">

        <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn">
            <a th:href="@{/tyre/new}"></a>
        </button>
        <div th:if="${!tyres.isEmpty()}" >
            <div class="card" th:each="tyre : ${tyres}">
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="admin">
                        <a th:href="@{/tyre/delete/{id}(id= ${tyre.getTyreId})}" >Delete</a>
                        <a th:href="@{/tyre/edit/{id}(id= ${tyre.getTyreId})}" >Edit</a>
                </div>
                <div class="card-body">
                    <h4 class="card-title" th:text="${tyre.getTyreManufacturer()}"></h4>
                    <p class="card-text" th:text="${tyre.getTyreModel()}"></p>
                    <p th:text="'Size: ' + ${tyre.getTyreWidth()} + '/' + ${tyre.getTyreProfile()} + '/' + ${tyre.getTyreRim()}"></p>

                </div>
                <div class="card-footer">
                    <p th:text="'EAN:' + ${tyre.getEan()}"></p>
                    <p th:text="'Quantity:' + ${tyre.getQuantity()}"></p>
                    <p th:text="'Price: ' + ${tyre.getPrice()}"></p>
                    <a th:href="${'cart/add/' + tyre.getTyreId()}" class="btn" >Add to cart</a>
                </div>
            </div>
        </div>
        <div>
            <span th:text="${tyresCount}"></span>
        </div>
    </div>
</div>

</body>

</html>