<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tyre</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="flex-column">
            <form autocomplete="off" th:object="${tyreForm}" class="form" method="POST">
                <fieldset>
                    <h3 >Add new tyres</h3>
                        <input type="text" th:field="*{tyreManufacturer}" class="form-control input-lg" title="TyreManufacturer" autofocus="true" placeholder="Tyre Manufacturer"/>

                        <input type="text" th:field="*{tyreModel}" class="form-control input-lg" title="tyreModel" autofocus="false" placeholder="Tyre Model"/>

                        <input type="number" th:field="*{tyreWidth}" class="form-control input-lg" title="Tyre Width" autofocus="false" placeholder="Tyre Width"/>

                        <input type="number" th:field="*{tyreProfile}" class="form-control input-lg" title="Tyre Profile" autofocus="false" placeholder="Tyre Profile"/>

                        <input type="number" th:field="*{tyreRim}" class="form-control input-lg" title="Tyre Rim" autofocus="false" placeholder="Tyre Rim"/>

                        <input type="number" th:field="*{price}" class="form-control input-lg" title="Price" autofocus="false" placeholder="price"/>

                    <input th:if="${method} == 'new'" class="btn btn-outline-dark" type="submit" th:action="@{/tyre/new}" th:value="Confirm"/>
                    <input th:if="${method} == 'edit'" class="btn btn-outline-dark" type="submit" th:action="@{/tyre/edit/{tyreId}}" th:value="Confirm"/>
                </fieldset>
            </form>
    </div>
</div>
</body>

</html>